<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/styles.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <div class="main-content">
      {{> header}}
      <p>This site was created by Mohammed Khushab Alam. It uses data from mapbox API and openweather API</p>
      <img class="portrait" src="/img/pic.jpeg" alt="mypic" />
    </div>
    {{> footer}}
  </body>
</html>
